<h1 class= "title"> <%= @user.name %>'s profile page! </h1>

<h2 class= "subtitle"> My created events: </h2><br>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= event.description %></li>
  <% end %>
</ul>

<!-- remember to add links for events-->
