<h1> <%= @user.name %>'s profile page! </h1>

<h2> My created events: </h2><br>
<ul>
  <% @user.created_events.each do |event| %>
    <li><%= event.description %></li>
  <% end %>
</ul>

<!-- remember to add links for events-->
