<% if flash[:notice] %>
 <div align="center" class="flash notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:success] %>
 <div align="center" class="flash success"><%= flash[:success] %></div>
<% end %>
<% if flash[:danger] %>
 <div  align="center" class="flash danger"><%= flash[:danger] %></div>
<% end %>
