<header>
  <nav class='nav'>
    <% if sign_in? %>
      <h3><%= current_user.name %></h3>
    <% end %>
    <ul>
     <% if !sign_in? %>
      <li><%= link_to 'Log in', sign_in_path  %></li>
      <li><%= link_to 'Sign up', sign_up_path %></li>
     <% else %>
      <li><%= link_to 'Log out', session_path(session), method: :delete %></li>
     <% end %>
    </ul>
  </nav>
</header>