<h1 class= "title"> Details for: <%= @event.description %></h1>

<h2 class= "subtitle"> Organizer for this event: <%= link_to @event.host.name, user_path(@event.host) %></h2>

<!-- remember to add links for events-->
