/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   margin: 0;
   padding: 0;
   font-family: 'Raleway', sans-serif;
   background-color: rgba(216, 216, 216, 0.849);
 }

 li {
   list-style: none;
   padding: 0;
 }

 a {
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
 }


 .forms {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  width: 25%;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.685);
  box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
  padding: 1rem;
 }

 .title {
   padding:1rem;
 }
 .subtitle {
   padding-left:2rem;
 }

 .title::after {
   content: '';
   display:block;
   width: 95%;
   height: 1px;
   background-color: rgba(189, 189, 189, 0.623);
 }

 .image_for_events {
   margin-left: 2rem;
   height: 200px;
   width: 300px;
   background: no-repeat url(https://source.unsplash.com/featured/?{event},{party});
   background-size: contain;
 }
 .image_for_events2 {
   margin-left: 2rem;
   height: 200px;
   width: 300px;
   background: no-repeat url(https://source.unsplash.com/featured/?{event},{party});
   background-size: contain;
 }

  .event_container {
    display: flex;
  }
