header {
  background-color:rgb(70, 70, 70);
  color:white;

  .nav {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    a {
      color: white;
      background-color: goldenrod;
      padding:.5rem;
      border-radius: 15px;
    }
  }
}