header {
  background-color:hsl(0, 0%, 21%);
  color: white;

  .nav {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .interactions {
      display: flex;
      .welcome {
        padding-left: 1rem;
        display: flex;
        a {
          padding: 0;
          color: white;
          text-decoration: underline;
          display: flex;
          font-size: 0.8rem;
        }
      }
      ul {
        display: flex;
        a {
          margin-right: 0.3rem;
        }
      }
    }

    .sign {
      display: flex;
      justify-content: space-around;
      width: 18%;
      @media screen and(max-width: 768px) {
        width: 35%;
      }
    }

   li a {
      color: white;
      background-color: hsl(171, 100%, 41%);
      padding:.5rem;
      border-radius: 15px;
      font-weight: bold;
    }
  }
}
